# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Virtual environments
venv/
.env/

# OS-related
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Data (if large or private)
data/
*.csv
